html{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.debug .container{
  border: 1px solid black;
}

.debug .container [class*="col-"]{
  border: 1px solid black;
}



.top_header .container [class*="col-"]{
  height: 80px;
}
