html{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.debug .container{
  border: 1px solid black;

}

.debug .container [class*="col-"]{
  border: 1px solid black;
}



.top_header .container [class*="col-"]{
  height: 80px;
}


.top_header img{
  width: 80px;
  vertical-align: middle;
}

.h_bg{
  height: 500px;
}

.hero-bg{
background-image: url(../img/hero-bg.jpg);

}


[class*="nav_"] li:not(:last-child){

  margin-right: 10px;

}

[class*="nav_"] li{
display: inline-block;
text-align: right;

}

.nav_left, .nav_right{
  float:right;

}

[class*="nav_"] li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;

}


.ghost_align::before{
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;

}
 .text_center{
  text-align: center;
  margin: auto;
  color: white;
  font-size: 20px;
}
